.burger {
  display: none;

  &__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 60px;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.10);
    border-radius: 20px;

    &__style {
      width: 40px;
      height: 5px;
      background: #099DBA;
      border-radius: 3px;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 40px;
    gap: 13px;
    font-size: 18px;
    background: #F3FEFE;;
    color: #099DBA;
    list-style: none;
    position: absolute;
    top: 100px;
    right: 0;
    border-radius: 20px;

    &__info {
      width: 150px;
      padding-top: 20px;

      &__address {
        &__img {

        }

        &__title {
          font-size: 13px;
        }
      }

      &__text {
        font-size: 10px;
      }
    }

    .burger__menu__info:last-child {
      padding-top: 0;
    }

    &__icon {
      display: flex;
      gap: 8px;

      &__icons {
        &__img {
          width: 24px;
        }
      }
    }
    &__numbers {
      padding-top: 10px;

      &__number {
        font-size: 10px;
      }
    }
  }
}


@media (max-width: 992px) {
  .burger {
    display: flex;
    justify-content: end;
  }
}