.title__header {
  padding: 33px 0 30px 0;

  &__container {
    align-items: center;
    justify-content: space-between;
  }
}

.headerLogo {
  display: flex;
  align-items: center;
  gap: 72px;
}

.header__logo {
  display: flex;
  align-items: center;


  &__text {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: #099DBA;
  }
}

.header__info {
  &__text {
    font-size: 16px;
  }
}

.header__icons {
  display: flex;
  gap: 10px;
  justify-content: end;

  &__container {
    display: flex;
  }
}

.header__numbers__container {
  display: flex;
  flex-direction: column;
}

.header__numbers__button {
  background: transparent;
  border: none;
  text-align: end;
}

.header__numbers {
  display: flex;
  flex-direction: column;
  align-items: end;

  &__number {
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #474551;
  }

  &__button {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #099DBA;
  }
}

@media (max-width: 1400px) {
  .title__header {
    padding: 30px 0 28px 0;
  }
  .header__logo {
    display: flex;
    align-items: center;

    &__img {
      width: 80px;
    }

    &__text {
      font-weight: 700;
      font-size: 16px;
      line-height: 120%;
      color: #099DBA;
    }
  }
  .header__icons__icon__img {
    width: 25px;
  }
  .header__numbers {
    display: flex;
    flex-direction: column;
    align-items: end;

    &__number {
      font-weight: 600;
      font-size: 15px;
      line-height: 140%;
      color: #474551;
    }

    &__button {
      font-weight: 700;
      font-size: 12px;
      line-height: 17px;
      color: #099DBA;
    }
  }
  .header__info {
    &__text {
      font-size: 13px;
    }
  }
}

@media (max-width: 1200px) {
  .title__header {
    padding: 25px 0 25px 0;
  }
  .header__logo {
    display: flex;
    align-items: center;

    &__img {
      width: 80px;
    }

    &__text {
      font-weight: 700;
      font-size: 16px;
      line-height: 120%;
      color: #099DBA;
    }
  }

  .header__icons__icon__img {
    width: 20px;
  }

  .header__numbers {
    display: flex;
    flex-direction: column;
    align-items: end;

    &__number {
      font-weight: 600;
      font-size: 15px;
      line-height: 140%;
      color: #474551;
    }

    &__button {
      font-weight: 700;
      font-size: 12px;
      line-height: 17px;
      color: #099DBA;
    }
  }
  .header__info {
    &__text {
      font-size: 10px;
    }
  }
  .header__info__address__title {
    font-size: 14px;
  }
  .none__col {
    display: none;
  }
}

@media (max-width: 992px) {

  .title__header__container {

  }

  .header-info {
    display: none;
  }

  .header__icons {
    display: none;
  }

  .title__header {
    padding: 20px 0 20px 0;
  }

  .header__logo {
    display: flex;
    align-items: center;

    &__img {
      width: 80px;
    }


    &__text {
      font-weight: 700;
      font-size: 18px;
      line-height: 120%;
      color: #099DBA;
    }
  }

  .header__icons__icon__img {
    width: 15px;
  }

  .header__numbers {
    display: none;
    flex-direction: column;
    align-items: end;

    &__number {
      font-weight: 600;
      font-size: 10px;
      line-height: 140%;
      color: #474551;
    }

    &__button {
      font-weight: 700;
      font-size: 8px;
      line-height: 17px;
      color: #099DBA;
    }
  }
  .header__info {
    &__text {
      font-size: 8px;
    }
  }
  .header__info__address__title {
    font-size: 10px;
  }

  .header__info__address__img {
    width: 15px;
  }
}

@media (max-width: 768px) {
  .title__header {
    padding: 15px 0 15px 0;
  }
}