a {
  text-decoration: none;
}

a:hover {
  color: #099DBA;
}

a.active {
  color: #1b7b91;
}

ul{
  padding: 0;
  margin: 0;
}

button {
  padding: 0;
  background: transparent;
  border: none;
}

.container {
  max-width: 1600px;
}
